/* Переменные */

:root {
  --color-green: #1750ad;
  
}

/* Общие стили */
a {
  color: var(--color-green);
  text-decoration: none;
  transition: opacity 0.4s ease, background-color 0.3s ease, color 0.3s ease;
  
}

a:hover {
  opacity: 0.7;
  
  
}

ul {
  list-style: none; /* Убирает маркеры */
  padding-left: 0;
}

/* HEADER */

.header {
  position: relative;
  height: 110vh;
  margin-top: -16px;
  background: url(../img/phone5.jpg) no-repeat center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 80%, 50% 91%, 0 80%, 0 0);
}

.header__backround {
  position: absolute;
  height: inherit;
  width: 100%;
  background: black;
  opacity: 0.3;
  z-index: 1;
  
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding-top: 10px;
  height: 80px;
  background: rgb(0, 0, 0, 69%);

  color: white;
  
  z-index: 2;
  position: relative;
}

.header-top a {
  color: #ffff;
  

}
.header-top a:hover{
  color: var(--color-green)
  
  
  
  
}

.header-top a.active {
  color: var(--color-green); 
  
}



.logo {
  font-size: 33px;
  margin-right: 6px;
  margin-left: -185px;
}

.switcher {
  margin-left: 72px;
  margin-right: -93px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -148px;
}

.menu-element{
  margin-right: 10px;
  font-size: 22px;
  
}
.menu-element:last-child {
  
  margin-right: 0;
  
  
}


.header-center {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 658px;
  
  color: #ffff;
  
    position: relative;
    z-index: 2;
  
}

.header-center__wrapper {
  
   text-align: center;
   font-size: 26px;
  
   background: rgb(0, 0, 0, 69%);
   width: 100%;
   padding: 26px 0;
  
   
  
   
  
  
}

.name {
 line-height: 72px;
 
  
}

.description {
  font-size: 25px;
  
  
}

  
  
  






















