/* Переменные */


:root {
  --color-green: #1750ad;
  --color-text:#484848 ;
  --color-gray: #9e9e9e;
  --color-black:#262626
  
}

/* Общие стили */
a.link {
  color: var(--color-green);
  text-decoration: none;
  transition: opacity 0.4s ease, background-color 0.3s ease, color 0.3s ease;
  
}

a.link:hover {
  opacity: 0.7;
  
  
}

ul {
  list-style: none; /* Убирает маркеры */
  padding-left: 0;
}

.block-center{
display: flex;
align-items: center;
justify-content: center;

}

/* HEADER */

.header {
  position: relative;
  height: 110vh;
  bottom: 80px;
  margin-top: -16px;
  background: url(../img/phone5.webp) no-repeat center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 80%, 50% 91%, 0 80%, 0 0);
}

.header__backround {
  position: absolute;
  height: inherit;
  width: 100%;
  background: black;
  opacity: 0.3;
  z-index: 1;
  
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;

  padding-top: 10px;
  height: 80px;
  background: rgb(0, 0, 0, 69%);

  color: white;
  
  z-index: 9999999;
  position: sticky;
}

.header-top a.link {
  color: #ffff;
  

}
.header-top a.link:hover:not(.logo){
  color: var(--color-green)
  
  
  
  
}

.header-top a.link.active {
  color: var(--color-green); 
  
}



.logo {
  font-size: 33px;
  
  margin-left: -135px;
}
/* Настройка кнопки номера в глав меню */
.num{
  display: flex;
  flex-direction: column;
  margin-right: -32px;
  
  
}

.switcher {
  margin-left: 72px;
  margin-right: -93px;
  background: none; /* Убираем фон */
  border: none;     /* Убираем рамку */
  padding: 0;
  color: #ffff;
  
}

.switcher:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease, background-color 0.3s ease, color 0.3s ease;
  color: #1750ad;
  
}

.switcher-2 {
  margin-left: 72px;
  margin-right: -93px;
  background: none; /* Убираем фон */
  border: none;     /* Убираем рамку */
  padding: 0;
  color: #ffff;
  
}

.switcher-2:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease, background-color 0.3s ease, color 0.3s ease;
  color: #1750ad;
  
}



/* КОНЕЦ настройки кнопки номера в глав меню */

.menu {
  margin: 0 35px 0 -51px

}

.menu-element{
  margin-right: 33px;
  font-size: 22px;
  
}
.menu-element:last-child {
  
  margin-right: 0;
  
  
}
.menu-element__link.home svg{
  width: 24px;
  height: 24px;

  
}


.header-center {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 658px;
  
  color: #ffff;
  
    position: relative;
    z-index: 2;
  
}

.header-center__wrapper {
  
   text-align: center;
   font-size: 26px;
  
   background: rgb(0, 0, 0, 69%);
   width: 100%;
   padding: 26px 0;
  
   
  
   
  
  
}

.name {
 line-height: 72px;
 
  
}

.description {
  display: inline-block;
  width: 1345px;
  font-size: 25px;
  
  font-family: cursier, monospace;
  line-height: 1.5em;
  white-space: nowrap;
  
  overflow: hidden;
  
  border-right: 3px solid  transparent;
  
  animation: cursor 0.75s 8, print-text 5s steps(97);
}

@keyframes cursor {
  0%{
    
    border-color: transparent;
  }
  50%{
    border-color: #fff;
  }
  100%{
    
    border-color: transparent;
  
}
}



@keyframes print-text{
  from{
    width: 0;
    
  }
  
  
}
  
/* О НАС */
.about_me {
  align-items: center;
  
  display: flex;
  padding-bottom: 100px;
  
}

.about-me__title{
  font-size: 30px;
  
}
.gray{
  color: var(--color-gray)!important;
  
}
.about-me__discraption{
  font-size: 20px;
  color: var(--color-text);
  margin-bottom: 15px;
  padding-right: 400px;
}




.about_me .left {
  flex: 1 1 30%;
  padding-right: 40px;
  
  
  
  
}


.about_me .right {
  flex: 1 1 60%;
  
  
  
  
  
}

.about-me__image{
  width: 320px;
  height: 546px; 
  margin-left: auto;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 69%));
  
  
  
}


.about-me__extra-element{
  display: flex;
  margin-bottom: 10px;
  
}

.about-me__extra-element:last-of-type{
margin-bottom: 0;

  
}


ul.about-me__extra{
  color: var(--color-text);
  font-size: 18px;
  margin-top: 20px;
  align-items: center;
  
}
.about-me__icon{
  
width: 24px;
height: 24px;

}
.about-me__icon svg{
  color: var(--color-green)
  

}


.block{
  width: 100%;
  
  
}




.bold{
  color: var(--color-black);
  padding-right: 5px;
  padding-left: 10px; 
  font-weight: bold;
 
  
}



















